body {
    margin: 0;
    padding: 0;
    background: #fcd98d;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

a:hover {
    text-decoration: underline black;
    font: bold;
}


@media screen and (max-width: 628px) {
    .wrapper {
        display: flex;
        justify-content: center;
        margin-top: 240px;
    }

    .site-footer {
        background-color: #26272b;
        padding: 20px 0 20px;
        font-size: 15px;
        line-height: 24px;
        color: #737373;
        width: 630px;
    }
}

@media screen and (max-width:426px) {

    header nav {
        display: grid;
        justify-content: center;
        align-items: center;
        border-bottom: 3px solid black;
        padding: 10px 20px;
        background-color: #F9D689;
        width: 100%;
    }

    .nav-links li {
        margin: auto;
        align-content: center;
        text-align: center;
    }

    .logo {
        padding: 0;
        margin: auto;
    }

    .site-footer {
        background-color: #26272b;
        padding: 20px 0 20px;
        font-size: 15px;
        line-height: 24px;
        color: #737373;
        width: 100%;
    }
}

@media screen and (max-width:380px) {
    .wrapper {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .site-footer {
        background-color: #26272b;
        padding: 20px 0 20px;
        font-size: 15px;
        line-height: 24px;
        color: #737373;
        width: 100%;
    }
}

@media screen and (max-width:325px) {
    .wrapper {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .site-footer {
        background-color: #26272b;
        padding: 20px 0 20px;
        font-size: 15px;
        line-height: 24px;
        color: #737373;
        width: 100%;
    }

    .row {
        display: flex;
        gap: 0px !important;
    }

    .login-card {
        background-image: linear-gradient(to bottom right, rgb(255, 175, 27), rgb(255, 157, 45));
        width: 280px;
        height: 340px;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .btn-1 {
        background: #ffffff;
        height: 35px;
        width: 200px;
        border: solid white 2px;
        border-radius: 10px;
        font-size: smaller;
        cursor: pointer;
        transition-duration: 0.5s;
    }
    .btn-2 {
        background: #ffffff;
        height: 35px;
        width: 200px;
        border: solid white 2px;
        border-radius: 10px;
        font-size: smaller;
        cursor: pointer;
        transition-duration: 0.5s;
    }
}